/*

Reference for colors or making our own styles
- https://github.com/PreTeXtBook/CSS_core
- https://github.com/PreTeXtBook/CSS_core/blob/main/colors_default.css
- https://github.com/PreTeXtBook/CSS_core/blob/main/style_oscarlevin.css

*/


:root {
    --lbccyellow: #fdb913;
    --lbccyellowfaint: #fdb91355;
    --lbccblue: #005b94;
    --lbccdarkblue: #003b60;
    --lbcclightblue: #32ABDF;
    --lbcclightbluefaint: #32ABDF55;
    --lbccred: #873d5a;
    --lbccredfaint: #873d5a55;
    --lbccgreen: #45a169;
    --lbccgreenfaint:#45a16955;


    --documenttitle: var(--lbccblue);
    --bodytitle: var(--lbccdarkblue);  /* often a darker version of documenttitle  */
    --bodysubtitle: var(--lbccdarkblue);  /* can be the same as bodytitle  */
    --bodytitlehighlight: white;  /* light, and contrasting to bodytitle  */
    --bodysubtitlehighlight: white;  /* light, and contrasting to bodysubtitle  */

    --chaptertoc: var(--lbccblue);
    --chaptertoctext: white;
    --chaptertocactive: var(--lbccyellow);   /* often the same as documenttitle */
    --chaptertoctextactive: white;
    --sectiontoc: white;   /* can also write it as #ffffff  */
    --sectiontoctext: var(--lbccdarkblue);
    --sectiontocactive: var(--lbccyellow);   /* often the same as documenttitle */
    --sectiontoctextactive: white;
    --tocborder: var(--lbcclightblue);

    --highlighttoc: #003b60;   /* often a dark version of documenttitle */
    --highlighttoctext: white;
    --highlighttocborder: var(--lbccyellow);

    --videoplay: var(--bodytitle);
    --assembhead: var(--lbccred);
    --assembbody: var(--lbccredfaint);
    --assembborder: var(--lbccredfaint);
    --assemblageborder: var(--lbccred);
    --assemblagebackground: var(--lbccredfaint);
  
    --knowlborder: var(--bodytitlehighlight);
    --knowlbackground: var(--assemblagebackground);

    --definitionbody: var(--lbcclightbluefaint);
    --definitionborder: var(--lbcclightblue);

    --remarklikebody: var(--lbccyellowfaint);
    --remarklikeborder: var(--lbccyellow);
}

/* Hide numbering on section/subsection exercises */
.section > article.exercise .codenumber {
    display: none;
}

.subsection > article.exercise .codenumber {
    display: none;
}
/* hides the period */
/* .subsection article.exercise .period */

/* Ensure border is on left/right of objectives */
.ptx-content article.outcomes.goal-like, .ptx-content article.objectives.goal-like {
    border: 3px solid var(--chaptertoc);
    background-color: var(--lbccyellowfaint);
    margin-top: 35px;
}

.ptx-content article.outcomes.goal-like .heading, .ptx-content article.objectives.goal-like .heading {
    background-color: var(--lbccyellow);
    border-radius: 5px;
}

.ptx-content article.assemblage h3.heading {
    color: white;
}